@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  background-color: #E5E7EB;
}

.header {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  background-color: #3882f6;
}

.footer {
  background-color: #eeeeee;
  margin-top: auto;
  display: flex;
  padding: 10px;
  justify-content: center;
  color: #E5E7EB;
  background-color: #3882f6;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #E5E7EB;
}

.description {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-size: 20px;
  padding: 16px 200px;
  gap: 16px;
}

.signature {
  background-color: #E5E7EB;
  display: flex;
  justify-content: end;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 200px;
}

.form {
  display: flex;
  background-color: #E5E7EB;
  font-size: 18px;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  gap: 16px;
  align-items: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 200px;
}

.buttons input {
  color: #E5E7EB;
  background-color: #3882f6;
}

.results {
  background-color: #E5E7EB;
  display: flex;
  justify-content: end;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 200px;
}
